/*  your css code here. If applicable */
.container{
	display:block;
	margin:auto;
		 text-align: center;
	width:500px;
	height:130px;
	border-radius:10px;
	border:1px solid black;
	padding:10px;
	background-color:grey;
	
}
.circle{
		display:inline-block;
	border-radius:50%
}
 .red{
	height:100px;
	background-color:red;
	width:100px;
}
.green{
	height:100px;
	width:100px;
	background-color:green;
}
.yellow{
	height:100px;
	width:100px;
	background-color:yellow;
}